<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="auth-container">
        <div class="auth-logo"></div>
        <h1 class="auth-title">Welcome Back</h1>
        <div class="auth-subtext">
            Don't have an account yet? <a href="../register">Sign up</a>
        </div>
        <form action="/login/" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="username" placeholder="Email address" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="divider">or</div>
        <div class="social-login">
            <button class="social-btn" type="button"><i class="fab fa-apple"></i></button>
            <button class="social-btn" type="button"><i class="fab fa-google"></i></button>
            <button class="social-btn" type="button"><i class="fa-solid fa-x"></i></button>
        </div>
    </div>
</body>
</html>